body {
background: rgb(45, 163, 231);
font: normal 15pt Arial;
}

header {
color: white;
text-align: center;;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px rgba(59, 59, 59, 0.637);
}

footer {
color:white;
text-align: center;
font-style: italic;
}
#imagem{
    border-radius: 15rem;
}
div{
    text-align: center;
    padding: 10px;
}